@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color1: #f4efee;
    --color2: #352a29;
}

body {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color1);
    color: var(--color2);
}

.button-item {
    background-color: var(--color2);
    color: var(--color1);
}